*.o
*.a
*.txt
.DS_Store
.obsidian/
/obj
minishell
minishell.dSYM
*.py
minishell_tester/
*.sh
.idea/


# Not ignore files in test folder
!/tests/**/*.sh

# Not ignore debug settings files
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Tester
minishell_tester/
bla_test/
tmp_err_bash
tmp_err_minishell
tmp_out_bash
tmp_out_minishell
tmp_redir_out
tmp_redir_out_file1

# No ignore 42_minishell_tester folder
!42_minishell_tester/**.*
!.devcontainer/**.*